@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kanit:wght@600&family=Montserrat:wght@700&family=Roboto:ital,wght@0,700;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*HEADER*/
header {
    background-color: rgb(0, 106, 244);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(243, 247, 250);
    padding: 25px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

/*LOGOTIPOS Y ENLACES*/
.logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

.menu a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: rgb(243, 247, 250);
}

.menu li {
    display: inline;
    list-style: none;
    margin-left: 10px;
    font-size: 18px;
}

.menu li:hover {
    background-color: rgba(0, 0, 0, 0.136);
    padding: 1px;
    transition-duration: 10ms;
    border-radius: 10px;
}


/*CONTENIDO*/

.titulo{
    font-size: 25px;
}

div h1{
    color: rgb(255, 255, 255);
    position: relative;
    z-index: -1;
    font-size: 22px;
}

.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 475px;
    margin: auto;
    font-size: 35px;
    opacity: 80%;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    padding: 475px;
    opacity: 90%;
    font-size: 35px;
    color: white;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 475px;
    font-size: 35px;
}


/*FOOTER*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(77, 114, 184);
    padding: 120px;
}

